# Virtual environment
venv/
myenv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/

# Coverage and test reports
.coverage
htmlcov/
*.cover
*.coverage
*.cov
*.egg-info/

# IDE/editor settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
